# ============================================================
# Variables de Entorno - CONIITI Front-end (Azure)
# ============================================================

VITE_API_URL=/api

# Para Azure, si el frontend y el backend comparten dominio, se puede omitir para que use window.location.origin, 
# o especificar la URL del API Gateway.
VITE_API_ORIGIN=https://frontend.whitebay-021d5912.southcentralus.azurecontainerapps.io
