# ============================================================
# Variables de Entorno - CONIITI Auth-service (Azure)
# ============================================================

# Se asume que el gateway/frontend está en la siguiente URL
FRONTEND_URL=https://frontend.whitebay-021d5912.southcentralus.azurecontainerapps.io

GOOGLE_REDIRECT_URI=https://frontend.whitebay-021d5912.southcentralus.azurecontainerapps.io/api/auth/oauth/google/callback
MICROSOFT_REDIRECT_URI=https://frontend.whitebay-021d5912.southcentralus.azurecontainerapps.io/api/auth/oauth/microsoft/callback
